* {
	font-family: sans-serif;
	align-items: center;
}

header {
	padding: 10px;
	height: 80px;
	color: white;
	background: black;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

header h1 {
	align-items: left;
}

header nav {
	align-items: right;
}

.nav_btn {
	margin: -3px;
	font-size: large;
	background: white;
	border: none;
	padding: 5px;
}
#Intro_btn {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
#Github_btn {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

body {
	margin: 0px;
	padding-top: 100px;
	color: black;
	background: white;
}

.contatiner {
	height: 1000px;
	display: flex;
	flex-direction: row;
}

#Intro_itm {
	height: auto;
}

.item_left {
	height: 100%;
	flex-basis: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: xx-large;

	/* border: black solid thick; */
}

.item_right {
	height: 100%;
	flex-basis: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: xx-large;

	/* border: black solid thick; */
}

.experiences {
	font-weight: bold;
}

.skills {
	font-weight: bold;
}
#Skills_item {
	height: 100%;
	text-align: center;
	font-size: x-large;
}
